<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About project</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <h1>Blog engine</h1>
        <p>Application based on spring model - view - controller framework with H2 Database.</p>
        <p>Frameworks, templates, libraries used in project:</p>
        <ul>
            <li>Maven,</li>
            <li>Hibernate,</li>
            <li>Spring Boot,</li>
            <li>Spring Data,</li>
            <li>Spring Security,</li>
            <li>Swagger,</li>
            <li>Thymeleaf,</li>
            <li>Lombok.</li>
        </ul>
        <p>
            Application functionality focuses on possibility to create blog without using WordPress.First of all
            functionality is divided between users without account on website and two designed types of role:
        </p>
        <ul>
            <li>Administrator,</li>
            <li>User.</li>
        </ul>
        <p>Users without account have possibility to read entries or comments placed on website.
            They can also create new account with automatically granted User role.
        </p>
        <p>Users with granted User role can:</p>
        <ul>
            <li>create comments,</li>
            <li>rate entries.</li>
        </ul>
        <p>Users with administrator role can:</p>
        <ul>
            <li>create/delete/update entries,</li>
            <li>create/delete comments,</li>
            <li>grant authorities to other accounts,</li>
            <li>delete accounts.</li>
        </ul>
        <p>Example accounts:</p>
        <ul>
            <li>login: "Admin", password: "admin" (ADMINISTRATOR role),</li>
            <li>login: "User", password: "user" (USER role).</li>
        </ul>
    </div>
</div>

</body>
</html>