<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Comments</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="list">Id</div>
        <div class="list">Author</div>
        <div class="list">Comment</div>
        <div class="list">Entry Id</div>
        <div th:each="comment:${comments}">
            <div class="list" th:text="${comment.id}"></div>
            <div class="list" th:text="${comment.author}"></div>
            <div class="list" th:text="${#strings.abbreviate(comment.comment, 100)}"></div>
            <div class="list" th:text="${comment.entryId}"></div>
            <div class="list">
                <form th:object="${comment}" th:action="@{'/comments/' + ${comment.id}}" th:method="delete">
                    <input class="delete-button" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>