<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div style="margin-top: 15%">
            <div style="margin-left: 10%; margin-bottom: 20px">
                <span th:if="${badRequest} != null" th:text="*{badRequest}"></span>
            </div>
            <form method="post" action="#" th:action="@{/login}" th:object="${user}">
                <input class="inputs" name="login" type="text" placeholder="login">
                <input class="inputs" name="password" type="password" placeholder="password">
                <input class="send-button" type="submit" value="Login">
            </form>
            <div style="margin-left: 46%; margin-top: 20px">
                <a class="hyperlink" th:href="@{/registration}">Create new account</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>