<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="handler">
            <div class="handler" style="margin-left: 5%">Only users with ADMIN role are allowed to see that page</div>
            </label>
        </div>
    </div>
</div>
</body>
</html>