<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel" style="margin-top: 5%">
        <span th:if="${userWithSameLoginExists} != null" th:text="*{userWithSameLoginExists}"></span>
        <span th:if="${wrongRepeatedPassword} != null" th:text="*{wrongRepeatedPassword}"></span>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <input class="inputs" type="text" th:field="*{login}" placeholder="login">
            <div class="validation-error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            <input class="inputs" type="password" id="password" th:field="*{password}" placeholder="password">
            <div class="validation-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <input class="inputs" type="password" id="repeatedPassword" th:field="*{repeatedPassword}"
                   placeholder="repeat password">
            <div class="validation-error" th:if="${#fields.hasErrors('repeatedPassword')}"
                 th:errors="*{repeatedPassword}"></div>
            <input class="inputs" type="text" id="name" th:field="*{name}" placeholder="name">
            <div class="validation-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input class="send-button" type="submit" value="Register">
        </form>
    </div>
</div>
</body>
</html>