<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Users authorities</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="fragments/layout :: sidebar-container"></div>
    <div id="main-panel">
        <div class="list">Id</div>
        <div class="list">Login</div>
        <div class="list">Name</div>
        <div class="list">Role</div>
        <div th:each="user:${users}">
            <div class="list" th:text="${user.id}"></div>
            <div class="list" th:text="${user.login}"></div>
            <div class="list" th:text="${user.name}"></div>
            <div class="list" th:text="${user.role}"></div>
            <a class="hyperlink" th:href="@{'/users/' + ${user.login}}">Change authorities</a>
            <div class="list">
                <form th:object="${entry}" th:action="@{'/users/' + ${user.login}}" th:method="delete">
                    <input class="delete-button" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>